---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'
const title = "Contact Us"
---

<BaseLayout title={title}>
 <div>
	<h2>Welcome to {title} </h2>
	<p>Hello this is a contact page paragraph</p>
 </div>
 
</BaseLayout>
