---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'
const title = "Testing title from Fences"
---

<style lang="scss">
div{
	h2{
		color:blue;
	}
}
</style>

<BaseLayout title={title}>
 <div>
	<h2>Welcome to <a href="https://astro.build/">Astro</a></h2>
	<p>Hello this is a p</p>
 </div>
 <section>
	<h2>Heading 2</h2>
	<a href="/contact">Contact</a>
 </section>
</BaseLayout>
